.item-container[b-61e79hmj8k] {
    display: flex;
    padding: 6px;
}

.item-image-wrapper[b-61e79hmj8k] {
    width: 150px;
    text-align: center;
}

.item-image[b-61e79hmj8k] {
    max-width: 150px;
    max-height: 150px;
    padding: 6px;
}

.item-name[b-61e79hmj8k] {
    flex-grow: 1;
    padding: 6px;
}

.item-price[b-61e79hmj8k] {
    font-weight: 600;
    text-align: right;
}

.btn-delete[b-61e79hmj8k] {
    background: none;
    border: none;
    padding: 0px;
    color: red;
    font-size: 12px;
}

    .btn-delete:hover[b-61e79hmj8k] {
        text-decoration: underline;
    }