# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.BlazorShop.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Developpement\projet C#\BlazorShop\.idea\.idea.BlazorShop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
